# Ignorar arquivos de ambiente virtual
env/
venv/
.venv/

# Arquivo Executável .exe
dist/


# Arquivos de configuração sensíveis
.env
src/config.py
src/__pycache__/
data/faces/

# Logs e arquivos temporários
logs/
__pycache__/
*.pyc
*.pyo
temp_frame.jpg